
.detalle-container {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.volver-container {
    text-align: left;
}

.listaTipos {
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 30px 0;
}

.listaMovimientos {
    color: darkgray;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
   
}

.listaMovimientos li {
    margin: 5px 8px;
}

.volver {
    margin: 5px;
}

img {
    height: 180px;
    margin-top: 20px;
}

.lista {
    text-align: center;
}

.lista h1 {
    margin-top: 30px;
    font-size: 2.5em;
}

.estads {
    background-color: #f2f2f2;
    margin-top: 30px;
    padding: 15px 0 10px 0;
    text-align: center;
}

.estads h1 {
    font-size: 1.8em;
}

.estads h2 {
    font-size: 1.5em;
}

.estadsContainer {
    text-align: center;
    margin: 8px 0;
    padding: 5px;
}

.movimientos {
    text-align: center;
    padding-top: 15px;
}

.button-agregar {
    /* margin-top: 40px; */
    background-color: #2b6777;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    margin: 20px;
    position: sticky;
    bottom: 1rem;
    align-self: center;
    font-weight: bold;
  }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
}

.modal-main {
    background-color: white;
    width: 80%;
    height: 30%;
    align-self: center;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.modal-main p {
    font-size: larger;
    margin: 20px;
}

.buttons-modal {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-login {
    background-color: #2b6777;
    padding: 6px 0;
    margin: 5%;
    width: 35%;
    border: none;
    font-size: large;
}

.button-login-link {
    width: 35%;
    padding: 8px 0;
}

.button-no {
    background-color: #c8d8e4;
    padding: 6px 0;
    width: 35%;
    margin: 5%;
    border: none;
    font-size: large;
}

.display-modal-none {
    display: none;
}
